.root {
  position: sticky;
  overflow: hidden;
}

.titleRoot {
  position: sticky;
  top: 0;
}

.passItemListRoot {
  height: calc(100vh - 250px);
  overflow: auto;
}

@media (max-width: 1024px) {
  .root {
    position: fixed;
    right: 0;
  }
}
